header{
    width: 100%;
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5%;
}

header .logo{
    display: flex;
    gap: 20px;
}

header .logo .name{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

header .logo .name h1{
    font-family: var(--ultrabold-font);
    font-size: 2.5rem;
    color: var(--text-color);
}

header .logo .name h3{
    font-family: var(--light-font);
    color: var(--text-color);
    letter-spacing: 1px;
}

header .logo .photo img{
    width: 150px;
    border-radius: 50%;
}

header .linktree .line_area{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

header .linktree .line_area .line{
    width: 30rem;
    height: 4px;
    background: var(--text-color);
}

header .linktree .line_area h1{
    font-family: var(--ultrabold-font);
    font-size: 2rem;
    color: var(--text-color);
}

@media screen and (max-width:1024px) {
    header .linktree .line_area .line{
        width: 15rem;
    }
}

@media screen and (max-width:768px){
    header .logo .photo img{
        width: 100px;
    }
    header .logo .name h1{
        font-size: 1.5rem;
    }
    header .logo .name h3{
        font-size: 1rem;
    }
    header .linktree .line_area h1{
        font-size: 1.5rem;
    }
    header .linktree .line_area .line{
        width: 10rem;
    }
}

@media screen and (max-width:425px) {
    header .linktree{
        display: none;
    }
}